build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/cmake_install.cmake
build/CMakeCache.txt
build/LightYears.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/LightYears/CopilotIndices/17.14.995.13737/CodeChunks.db
build/.vs/LightYears/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
build/.vs/LightYears/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
build/.vs/LightYears/CopilotIndices/17.14.995.13737/SemanticSymbols.db
build/.vs/LightYears/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
build/.vs/LightYears/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
build/.vs/LightYears/FileContentIndex/91b9c7a2-c0f5-40ec-a47b-6b4cf2196fe2.vsidx
build/.vs/LightYears/v17/.suo
build/.vs/LightYears/v17/Browse.VC.db
build/.vs/LightYears/v17/Browse.VC.db-shm
build/.vs/LightYears/v17/Browse.VC.db-wal
build/.vs/LightYears/v17/Browse.VC.opendb
build/.vs/LightYears/v17/DocumentLayout.json
build/.vs/LightYears/v17/Solution.VC.db
build/.vs/LightYears/v17/Solution.VC.db-shm
build/.vs/LightYears/v17/Solution.VC.db-wal
build/.vs/LightYears/v17/ipch/AutoPCH/63f555aba863e218/MAIN.ipch
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.0.2/CMakeCCompiler.cmake
build/CMakeFiles/4.0.2/CMakeCXXCompiler.cmake
build/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.0.2/CMakeRCCompiler.cmake
build/CMakeFiles/4.0.2/CMakeSystem.cmake
build/CMakeFiles/4.0.2/VCTargetsPath.txt
build/CMakeFiles/4.0.2/VCTargetsPath.vcxproj
build/CMakeFiles/4.0.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.0.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/4.0.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.0.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.0.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/4.0.2/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/4.0.2/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/af3ef58bbb33f9c4282099e75e5e9f85/generate.stamp.rule
build/LightYears/cmake_install.cmake
build/LightYears/LightYearsGame.vcxproj
build/LightYears/LightYearsGame.vcxproj.filters
build/LightYears/LightYearsGame.vcxproj.user
build/LightYears/CMakeFiles/generate.stamp
build/LightYears/CMakeFiles/generate.stamp.depend
build/LightYears/Debug/LightYearsGame.exe
build/LightYears/Debug/LightYearsGame.pdb
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.exe.recipe
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.ilk
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.log
build/LightYears/LightYearsGame.dir/Debug/main.obj
build/LightYears/LightYearsGame.dir/Debug/vc143.pdb
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CL.command.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/Cl.items.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CL.read.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CL.write.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CustomBuild.command.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CustomBuild.read.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CustomBuild.write.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/LightYearsGame.lastbuildstate
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/link.command.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/link.read.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/link.secondary.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/link.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vs/
build/
