build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/cmake_install.cmake
build/CMakeCache.txt
build/LightYears.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/LightYears/CopilotIndices/17.14.995.13737/CodeChunks.db
build/.vs/LightYears/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
build/.vs/LightYears/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
build/.vs/LightYears/CopilotIndices/17.14.995.13737/SemanticSymbols.db
build/.vs/LightYears/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
build/.vs/LightYears/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
build/.vs/LightYears/FileContentIndex/91b9c7a2-c0f5-40ec-a47b-6b4cf2196fe2.vsidx
build/.vs/LightYears/v17/.suo
build/.vs/LightYears/v17/Browse.VC.db
build/.vs/LightYears/v17/Browse.VC.db-shm
build/.vs/LightYears/v17/Browse.VC.db-wal
build/.vs/LightYears/v17/Browse.VC.opendb
build/.vs/LightYears/v17/DocumentLayout.json
build/.vs/LightYears/v17/Solution.VC.db
build/.vs/LightYears/v17/Solution.VC.db-shm
build/.vs/LightYears/v17/Solution.VC.db-wal
build/.vs/LightYears/v17/ipch/AutoPCH/63f555aba863e218/MAIN.ipch
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.0.2/CMakeCCompiler.cmake
build/CMakeFiles/4.0.2/CMakeCXXCompiler.cmake
build/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.0.2/CMakeRCCompiler.cmake
build/CMakeFiles/4.0.2/CMakeSystem.cmake
build/CMakeFiles/4.0.2/VCTargetsPath.txt
build/CMakeFiles/4.0.2/VCTargetsPath.vcxproj
build/CMakeFiles/4.0.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.0.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/4.0.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.0.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.0.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/4.0.2/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/4.0.2/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/af3ef58bbb33f9c4282099e75e5e9f85/generate.stamp.rule
build/LightYears/cmake_install.cmake
build/LightYears/LightYearsGame.vcxproj
build/LightYears/LightYearsGame.vcxproj.filters
build/LightYears/LightYearsGame.vcxproj.user
build/LightYears/CMakeFiles/generate.stamp
build/LightYears/CMakeFiles/generate.stamp.depend
build/LightYears/Debug/LightYearsGame.exe
build/LightYears/Debug/LightYearsGame.pdb
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.exe.recipe
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.ilk
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.log
build/LightYears/LightYearsGame.dir/Debug/main.obj
build/LightYears/LightYearsGame.dir/Debug/vc143.pdb
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CL.command.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/Cl.items.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CL.read.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CL.write.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CustomBuild.command.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CustomBuild.read.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/CustomBuild.write.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/LightYearsGame.lastbuildstate
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/link.command.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/link.read.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/link.secondary.1.tlog
build/LightYears/LightYearsGame.dir/Debug/LightYearsGame.tlog/link.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vs/
build/
LightYearsGame/assets/.DS_Store
LightYearsGame/assets/background.png
LightYearsGame/assets/SpaceShooterRedux/.DS_Store
LightYearsGame/assets/SpaceShooterRedux/license.txt
LightYearsGame/assets/SpaceShooterRedux/mainMenuBg.png
LightYearsGame/assets/SpaceShooterRedux/preview.png
LightYearsGame/assets/SpaceShooterRedux/sample.png
LightYearsGame/assets/SpaceShooterRedux/Backgrounds/black.png
LightYearsGame/assets/SpaceShooterRedux/Backgrounds/blue.png
LightYearsGame/assets/SpaceShooterRedux/Backgrounds/darkPurple.png
LightYearsGame/assets/SpaceShooterRedux/Backgrounds/purple.png
LightYearsGame/assets/SpaceShooterRedux/Bonus/kenvector_future.ttf
LightYearsGame/assets/SpaceShooterRedux/Bonus/kenvector_future_thin.ttf
LightYearsGame/assets/SpaceShooterRedux/Bonus/sfx_laser1.ogg
LightYearsGame/assets/SpaceShooterRedux/Bonus/sfx_laser2.ogg
LightYearsGame/assets/SpaceShooterRedux/Bonus/sfx_lose.ogg
LightYearsGame/assets/SpaceShooterRedux/Bonus/sfx_shieldDown.ogg
LightYearsGame/assets/SpaceShooterRedux/Bonus/sfx_shieldUp.ogg
LightYearsGame/assets/SpaceShooterRedux/Bonus/sfx_twoTone.ogg
LightYearsGame/assets/SpaceShooterRedux/Bonus/sfx_zap.ogg
LightYearsGame/assets/SpaceShooterRedux/PNG/.DS_Store
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip1_blue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip1_green.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip1_orange.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip1_red.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip2_blue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip2_green.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip2_orange.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip2_red.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip3_blue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip3_green.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip3_orange.png
LightYearsGame/assets/SpaceShooterRedux/PNG/playerShip3_red.png
LightYearsGame/assets/SpaceShooterRedux/PNG/ufoBlue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/ufoGreen.png
LightYearsGame/assets/SpaceShooterRedux/PNG/ufoRed.png
LightYearsGame/assets/SpaceShooterRedux/PNG/ufoYellow.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Damage/playerShip1_damage1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Damage/playerShip1_damage2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Damage/playerShip1_damage3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Damage/playerShip2_damage1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Damage/playerShip2_damage2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Damage/playerShip2_damage3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Damage/playerShip3_damage1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Damage/playerShip3_damage2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Damage/playerShip3_damage3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire00.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire01.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire02.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire03.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire04.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire05.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire06.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire07.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire08.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire09.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire10.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire11.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire12.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire13.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire14.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire15.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire16.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire17.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire18.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/fire19.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/shield1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/shield2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/shield3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/speed.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/star1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/star2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Effects/star3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlack1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlack2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlack3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlack4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlack5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlue1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlue2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlue3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlue4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyBlue5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyGreen1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyGreen2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyGreen3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyGreen4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyGreen5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyRed1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyRed2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyRed3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyRed4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Enemies/enemyRed5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue01.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue02.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue03.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue04.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue05.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue06.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue07.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue08.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue09.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue10.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue11.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue12.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue13.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue14.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue15.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserBlue16.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen01.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen02.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen03.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen04.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen05.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen06.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen07.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen08.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen09.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen10.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen11.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen12.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen13.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen14.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen15.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserGreen16.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed01.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed02.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed03.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed04.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed05.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed06.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed07.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed08.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed09.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed10.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed11.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed12.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed13.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed14.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed15.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Lasers/laserRed16.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_big1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_big2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_big3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_big4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_med1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_med3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_small1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_small2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_tiny1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorBrown_tiny2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_big1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_big2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_big3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_big4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_med1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_med2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_small1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_small2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_tiny1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Meteors/meteorGrey_tiny2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/beam0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/beam1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/beam2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/beam3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/beam4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/beam5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/beam6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/beamLong1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/beamLong2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitBlue_0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitBlue_1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitBlue_2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitBlue_3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitBlue_4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitBlue_5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitBlue_6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitBlue_7.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitGreen_0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitGreen_1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitGreen_2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitGreen_3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitGreen_4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitGreen_5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitGreen_6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitGreen_7.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitRed_0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitRed_1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitRed_2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitRed_3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitRed_4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitRed_5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitRed_6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitRed_7.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitYellow_0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitYellow_1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitYellow_2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitYellow_3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitYellow_4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitYellow_5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitYellow_6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/cockpitYellow_7.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/engine1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/engine2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/engine3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/engine4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/engine5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun00.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun01.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun02.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun03.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun04.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun05.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun06.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun07.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun08.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun09.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/gun10.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/scratch1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/scratch2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/scratch3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/turretBase_big.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/turretBase_small.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingBlue_0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingBlue_1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingBlue_2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingBlue_3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingBlue_4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingBlue_5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingBlue_6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingBlue_7.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingGreen_0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingGreen_1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingGreen_2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingGreen_3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingGreen_4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingGreen_5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingGreen_6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingGreen_7.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingRed_0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingRed_1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingRed_2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingRed_3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingRed_4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingRed_5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingRed_6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingRed_7.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingYellow_0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingYellow_1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingYellow_2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingYellow_3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingYellow_4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingYellow_5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingYellow_6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Parts/wingYellow_7.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/bold_silver.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/bolt_bronze.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/bolt_gold.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/pill_blue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/pill_green.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/pill_red.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/pill_yellow.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupBlue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupBlue_bolt.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupBlue_shield.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupBlue_star.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupGreen.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupGreen_bolt.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupGreen_shield.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupGreen_star.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupRed.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupRed_bolt.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupRed_shield.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupRed_star.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupYellow.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupYellow_bolt.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupYellow_shield.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/powerupYellow_star.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/shield_bronze.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/shield_gold.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/shield_silver.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/star_bronze.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/star_gold.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/star_silver.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/things_bronze.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/things_gold.png
LightYearsGame/assets/SpaceShooterRedux/PNG/Power-ups/things_silver.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/buttonBlue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/buttonGreen.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/buttonRed.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/buttonYellow.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/cursor.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral0.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral1.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral2.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral3.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral4.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral5.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral6.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral7.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral8.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeral9.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/numeralX.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife1_blue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife1_green.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife1_orange.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife1_red.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife2_blue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife2_green.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife2_orange.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife2_red.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife3_blue.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife3_green.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife3_orange.png
LightYearsGame/assets/SpaceShooterRedux/PNG/UI/playerLife3_red.png
LightYearsGame/assets/SpaceShooterRedux/Spritesheet/sheet.png
LightYearsGame/assets/SpaceShooterRedux/Spritesheet/sheet.xml
LightYearsGame/assets/SpaceShooterRedux/Vector/sheet.svg
LightYearsGame/assets/SpaceShooterRedux/Vector/sheet.swf
